

.mb-large {
  margin-bottom: 4rem;
}

.mb-large-2 {
  margin-bottom: 3rem;
}

.mb-medium {
  margin-bottom: 2.3rem;
}

.secondary-color {
  color: $color-secondary;
}

.lighten {
  @include transition;
  :hover {
    @include filter;
  }
}
