// Colors
$color-primary: #91a8af;
$color-secondary: #647479;
$color-tertiary: #c0dfe9;

$color-grey-dark: #212320;
$color-grey-light: #464b44;

// Font
$font-display: "Balthazar", serif;
$default-font-size: 1.6rem;

